@import 'tailwindcss';

@layer overrides {
  :root {
    --palette-default-active: #613dc1;
    --palette-default-active-hover: #5e2de6;
    --palette-default-active-pressed: #4d319b;
    --palette-default-surface-highlight: #a8acff48;
  }
}

@theme {
  --color-primary: var(--palette-default-active);
  --color-code-block-accent: #0f2b42;

  --breakpoint-xs: 25rem;
}
